# Core
aiohttp
colorlog
telethon
toml

# Performance
cryptg

# Database
async_generator
msgpack
plyvel

# Error handling
gitpython
ratelimit
sentry-sdk

# Stickers module
pillow

# System module
speedtest-cli
