# Core
aiohttp
colorlog
telethon
toml

# Performance
cryptg

# Database
msgpack
plyvel

# Error handling
gitpython
ratelimit
sentry-sdk

# Stickers module
pillow

# System module
speedtest-cli

# Debug module
meval
